@{
    ViewBag.Title = "Result from API Call";
}

<h2>Result from API Call</h2>

<p>@ViewBag.ResultFromApiCall</p>

<div>
    <a class="btn btn-default" href="~/OidcSamples/Index">Back home</a>
</div>

